/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2015, 4:13:59 PM
    Author     : Jeroen
*/

#weekplanningtabel {
	font-family: verdana,arial,sans-serif;
	font-size:10px;
	color:#333333;
}

#weekplanningtabel td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
        min-width: 120px;
        min-height: 100px;
}

td.dagTabel{
        border-width: 3px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

//nog niet goede path gevonden
#beschrijvingTabel button{
        width: 120px;
        height: 100px;
}